{% load static %}
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light"
      data-menu-styles="dark" data-toggled="close">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Citisoft - Financial Software Inventory</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static '/assets/images/brand-logos/favicon.ico' %}" type="image/x-icon"/>

    <!-- Choices JS -->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/choices.js/1.1.6/choices.min.js"></script>

    <!-- Main Theme Js -->
    <script src="{% static '/assets/js/main.js' %}"></script>

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- Style Css -->
    <link href="{% static '/assets/css/styles.min.css' %}" rel="stylesheet"/>

    <!-- Icons Css -->
    <link href="{% static '/assets/css/icons.css' %}" rel="stylesheet"/>

    <!-- Node Waves Css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css" rel="stylesheet">

    <!-- Simplebar Css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.min.css" rel="stylesheet">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.9.0/dist/themes/nano.min.css">

    <!-- Choices Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/choices.js/10.2.0/choices.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsvectormap/1.5.3/css/jsvectormap.min.css">

</head>

<body>
<div class="page">
    <!-- app-header -->
    <header class="app-header">
        <!-- Start::main-header-container -->
        <div class="main-header-container container-fluid">
            <!-- Start::header-content-left -->
            <div class="header-content-left">
                <!-- Start::header-element -->
                <div class="header-element">
                    <div class="horizontal-logo">
                        <a href="dashboard.html" class="header-logo">
                            <img src="{% static '/assets/images/brand-logos/desktop-logo.png' %}" alt="logo"
                                 class="desktop-logo"/>
                            <img src="{% static '/assets/images/brand-logos/toggle-logo.png' %}" alt="logo"
                                 class="toggle-logo"/>
                            <img src="{% static '/assets/images/brand-logos/desktop-dark.png' %}" alt="logo"
                                 class="desktop-dark"/>
                            <img src="{% static '/assets/images/brand-logos/toggle-dark.png' %}" alt="logo"
                                 class="toggle-dark"/>
                        </a>
                    </div>
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element">
                    <!-- Start::header-link -->
                    <a aria-label="Hide Sidebar"
                       class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
                       data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
                    <!-- End::header-link -->
                </div>
                <!-- End::header-element -->
            </div>
            <!-- End::header-content-left -->

            <!-- Start::header-content-right -->
            <div class="header-content-right">
                <!-- Start::header-element -->
                <div class="header-element header-search">
                    <!-- Start::header-link -->
                    <a href="javascript:void(0);" class="header-link" data-bs-toggle="modal"
                       data-bs-target="#searchModal">
                        <i class="bx bx-search-alt-2 header-link-icon"></i>
                    </a>
                    <!-- End::header-link -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element header-theme-mode">
                    <!-- Start::header-link|layout-setting -->
                    <a href="javascript:void(0);" class="header-link layout-setting">
              <span class="light-layout">
                <!-- Start::header-link-icon -->
                <i class="bx bx-moon header-link-icon"></i>
                  <!-- End::header-link-icon -->
              </span>
                        <span class="dark-layout">
                <!-- Start::header-link-icon -->
                <i class="bx bx-sun header-link-icon"></i>
                            <!-- End::header-link-icon -->
              </span>
                    </a>
                    <!-- End::header-link|layout-setting -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element">
                    <!-- Start::header-link|dropdown-toggle -->
                    <a href="#" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown"
                       data-bs-auto-close="outside" aria-expanded="false">
                        <div class="d-flex align-items-center">
                            <div class="me-sm-2 me-0">
                                <img src="{% static '/assets/images/ecommerce/png/9.png' %}" alt="img" width="32" height="32"
                                     class="rounded-circle"/>
                            </div>
                            <div class="d-sm-block d-none">
                                <p class="fw-semibold mb-0 lh-1">Json Taylor</p>
                                <span class="op-7 fw-normal d-block fs-11">Administrator</span>
                            </div>
                        </div>
                    </a>
                    <!-- End::header-link|dropdown-toggle -->
                    <ul
                            class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end"
                            aria-labelledby="mainHeaderProfile">
                        <li>
                            <a class="dropdown-item d-flex" href="profile.html"><i
                                    class="ti ti-user-circle fs-18 me-2 op-7"></i>Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="mail.html"><i class="ti ti-inbox fs-18 me-2 op-7"></i>Inbox
                                <span class="badge bg-success-transparent ms-auto">25</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex border-block-end" href="to-do-list.html"><i
                                    class="ti ti-clipboard-check fs-18 me-2 op-7"></i>Task
                                Manager</a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="mail-settings.html"><i
                                    class="ti ti-adjustments-horizontal fs-18 me-2 op-7"></i>Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex border-block-end" href="javascript:void(0);"><i
                                    class="ti ti-wallet fs-18 me-2 op-7"></i>Bal:
                                $7,12,950</a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="chat.html"><i
                                    class="ti ti-headset fs-18 me-2 op-7"></i>Support</a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="sign-in-cover.html"><i
                                    class="ti ti-logout fs-18 me-2 op-7"></i>Log Out</a>
                        </li>
                    </ul>
                </div>
                <!-- End::header-element -->
            </div>
            <!-- End::header-content-right -->
        </div>
        <!-- End::main-header-container -->
    </header>
    <!-- /app-header -->
    <!-- Start::app-sidebar -->
    <aside class="app-sidebar sticky" id="sidebar">
        <!-- Start::main-sidebar-header -->
        <div class="main-sidebar-header">
            <a href="dashboard.html" class="header-logo">
                <img src="{% static '/assets/images/brand-logos/desktop-logo.png' %}" alt="logo" class="desktop-logo"/>
                <img src="{% static '/assets/images/brand-logos/toggle-logo.png' %}" alt="logo" class="toggle-logo"/>
                <img src="{% static '/assets/images/brand-logos/desktop-dark.png' %}" alt="logo" class="desktop-dark"/>
                <img src="{% static '/assets/images/brand-logos/toggle-dark.png' %}" alt="logo" class="toggle-dark"/>
            </a>
        </div>
        <!-- End::main-sidebar-header -->

        <!-- Start::main-sidebar -->
        <div class="main-sidebar" id="sidebar-scroll">
            <!-- Start::nav -->
            <nav class="main-menu-container nav nav-pills flex-column sub-open">
                <div class="slide-left" id="slide-left">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                    </svg>
                </div>
                <ul class="main-menu">
                    <!-- Start::slide__category -->
                    <li class="slide__category">
                        <span class="category-name">Main</span>
                    </li>
                    <!-- End::slide__category -->
                    <!-- Start::slide -->
                    <li class="slide">
                        <a href="dashboard.html" class="side-menu__item">
                            <i class="bx bx-home side-menu__icon"></i>
                            <span class="side-menu__label">Dashboard</span>
                        </a>
                    </li>
                    <!-- End::slide -->
                    <!-- Start::slide -->
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            <i class="bx bx-store-alt side-menu__icon"></i>
                            <span class="side-menu__label">Product Management </span>
                            <i class="fe fe-chevron-right side-menu__angle"></i>
                        </a>
                        <ul class="slide-menu child1">
                            <li class="slide side-menu__label1">
                                <a href="javascript:void(0)"></a>
                            </li>
                            <li class="slide">
                                <a href="reviewproduct.html" class="side-menu__item">Review Product</a>
                            </li>
                            <li class="slide">
                                <a href="viewproduct.html" class="side-menu__item">View Products</a>
                            </li>
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">Product Categories
                                    <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                <ul class="slide-menu child2">
                                    <li class="slide">
                                        <a href="addcategory.html" class="side-menu__item">Add Category</a>
                                    </li>
                                    <li class="slide">
                                        <a href="viewcategory.html" class="side-menu__item">View Category</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End::slide -->
                        <!-- Start::slide -->
                    </li>
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            <i class="bx bx-cart side-menu__icon"></i>
                            <span class="side-menu__label">User Management </span>
                            <i class="fe fe-chevron-right side-menu__angle"></i>
                        </a>
                        <ul class="slide-menu child1">
                            <li class="slide side-menu__label1">
                                <a href="javascript:void(0)">Review Vendor Reg.</a>
                            </li>
                            <li class="slide">
                                <a href="addvendor.html" class="side-menu__item">View Vendor</a>
                            </li>
                            <li class="slide">
                                <a href="addvendor.html" class="side-menu__item">View Customers</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End::slide -->
                </ul>
                <div class="slide-right" id="slide-right">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                    </svg>
                </div>
            </nav>
            <!-- End::nav -->
        </div>
        <!-- End::main-sidebar -->
    </aside>
    <!-- End::app-sidebar -->

    <!-- Start::app-content -->
    <div class="main-content app-content">
        <div class="container-fluid">
            <!-- Page Header -->
            <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                <h1 class="page-title fw-semibold fs-18 mb-0">Analytics</h1>
                <div class="ms-md-1 ms-0">
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Analytics
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Page Header Close -->

            <!-- Start::row-1 -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 pe-0">
                                    <p class="mb-2">
                                        <span class="fs-16">Total Customers</span>
                                    </p>
                                    <p class="mb-2 fs-12">
                                        <span class="fs-25 fw-semibold lh-1 vertical-bottom mb-0">153</span>
                                    </p>
                                </div>
                                <div class="col-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 pe-0">
                                    <p class="mb-2">
                                        <span class="fs-16">Total Products</span>
                                    </p>
                                    <p class="mb-2 fs-12">
                                        <span class="fs-25 fw-semibold lh-1 vertical-bottom mb-0">{{ product_count }}</span>
                                    </p>
                                </div>
                                <div class="col-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 pe-0">
                                    <p class="mb-2">
                                        <span class="fs-16">Total Vendors</span>
                                    </p>
                                    <p class="mb-2 fs-12">
                                        <span class="fs-25 fw-semibold lh-1 vertical-bottom mb-0">{{ company_count }}</span>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p class="main-card-icon mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 pe-0">
                                    <p class="mb-2">
                                        <span class="fs-16">Total Categories</span>
                                    </p>
                                    <p class="mb-2 fs-12">
                                        <span class="fs-25 fw-semibold lh-1 vertical-bottom mb-0">{{ product_category_count }}</span>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p class="main-card-icon mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End::row-1 -->
        </div>
    </div>
    <!-- End::app-content -->

    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="input-group">
                        <a href="javascript:void(0);" class="input-group-text" id="Search-Grid"><i
                                class="fe fe-search header-link-icon fs-18"></i></a>
                        <input type="search" class="form-control border-0 px-2" placeholder="Search"
                               aria-label="Username"/>
                        <a href="javascript:void(0);" class="input-group-text" id="voice-search"><i
                                class="fe fe-mic header-link-icon"></i></a>
                        <a href="javascript:void(0);" class="btn btn-light btn-icon" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="mt-4">
                        <p class="font-weight-semibold text-muted mb-2">
                            Are You Looking For...
                        </p>
                        <span class="search-tags"><i class="fe fe-user me-2"></i>People<a href="javascript:void(0)"
                                                                                          class="tag-addon"><i
                                class="fe fe-x"></i></a></span>
                        <span class="search-tags"><i class="fe fe-file-text me-2"></i>Pages<a href="javascript:void(0)"
                                                                                              class="tag-addon"><i
                                class="fe fe-x"></i></a></span>
                        <span class="search-tags"><i class="fe fe-align-left me-2"></i>Articles<a
                                href="javascript:void(0)"
                                class="tag-addon"><i class="fe fe-x"></i></a></span>
                        <span class="search-tags"><i class="fe fe-server me-2"></i>Tags<a href="javascript:void(0)"
                                                                                          class="tag-addon"><i
                                class="fe fe-x"></i></a></span>
                    </div>
                    <div class="my-4">
                        <p class="font-weight-semibold text-muted mb-2">
                            Recent Search :
                        </p>
                        <div class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert">
                            <a href="notifications.html"><span>Notifications</span></a>
                            <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert"
                               aria-label="Close"><i
                                    class="fe fe-x text-muted"></i></a>
                        </div>
                        <div class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert">
                            <a href="alerts.html"><span>Alerts</span></a>
                            <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert"
                               aria-label="Close"><i
                                    class="fe fe-x text-muted"></i></a>
                        </div>
                        <div class="p-2 border br-5 d-flex align-items-center text-muted mb-0 alert">
                            <a href="mail.html"><span>Mail</span></a>
                            <a class="ms-auto lh-1" href="javascript:void(0);" data-bs-dismiss="alert"
                               aria-label="Close"><i
                                    class="fe fe-x text-muted"></i></a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group ms-auto">
                        <button class="btn btn-sm btn-primary-light">Search</button>
                        <button class="btn btn-sm btn-primary">Clear Recents</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Start -->
    <footer class="footer mt-auto py-3 bg-white text-center">
        <div class="container">
        <span class="text-muted">
          Copyright © <span id="year"></span>
          <a href="javascript:void(0);" class="text-dark fw-semibold">Citisoft</a>. Designed with
          <span class="bi bi-heart-fill text-danger"></span> by
          <a href="javascript:void(0);">
            <span class="fw-semibold text-primary text-decoration-underline">Citisoft</span>
          </a>
          All rights reserved
        </span>
        </div>
        <!-- End::main-sidebar-header -->

        <!-- Start::main-sidebar -->
        <div class="main-sidebar" id="sidebar-scroll">
            <!-- Start::nav -->
            <nav class="main-menu-container nav nav-pills flex-column sub-open">
                <div class="slide-left" id="slide-left">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="#7b8191"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                    >
                        <path
                                d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                        ></path>
                    </svg>
                </div>
                <ul class="main-menu">
                    <!-- Start::slide__category -->
                    <li class="slide__category">
                        <span class="category-name">Main</span>
                    </li>
                    <!-- End::slide__category -->
                    <!-- Start::slide -->
                    <li class="slide">
                        <a href="/adminis/dashboard.html" class="side-menu__item">
                            <i class="bx bx-home side-menu__icon"></i>
                            <span class="side-menu__label">Dashboard</span>
                        </a>
                    </li>
                    <!-- End::slide -->
                    <!-- Start::slide -->
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            <i class="bx bx-store-alt side-menu__icon"></i>
                            <span class="side-menu__label">Product Management </span>
                            <i class="fe fe-chevron-right side-menu__angle"></i>
                        </a>
                        <ul class="slide-menu child1">
                            <li class="slide side-menu__label1">
                                <a href="javascript:void(0)"></a>
                            </li>
                            <li class="slide">
                                <a
                                        href="../adminis/reviewproduct.html"
                                        class="side-menu__item"
                                >Review Product</a
                                >
                            </li>
                            <li class="slide">
                                <a href="../adminis/viewproduct.html" class="side-menu__item"
                                >View Products</a
                                >
                            </li>
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item"
                                >Product Categories
                                    <i class="fe fe-chevron-right side-menu__angle"></i
                                    ></a>
                                <ul class="slide-menu child2">
                                    <li class="slide">
                                        <a
                                                href="../adminis/addcategory.html"
                                                class="side-menu__item"
                                        >Add Category</a
                                        >
                                    </li>
                                    <li class="slide">
                                        <a href="javascript:void(0);" class="side-menu__item"
                                        >View Category</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End::slide -->
                        <!-- Start::slide -->
                    </li>
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            <i class="bx bx-cart side-menu__icon"></i>
                            <span class="side-menu__label">User Management </span>
                            <i class="fe fe-chevron-right side-menu__angle"></i>
                        </a>
                        <ul class="slide-menu child1">
                            <li class="slide side-menu__label1">
                                <a href="javascript:void(0)">Review Vendor Reg.</a>
                            </li>
                            <li class="slide">
                                <a href="addvendor.html" class="side-menu__item"
                                >View Vendor</a
                                >
                            </li>
                            <li class="slide">
                                <a href="addvendor.html" class="side-menu__item"
                                >View Customers</a
                                >
                            </li>
                        </ul>
                    </li>
                    <!-- End::slide -->
                </ul>
                <div class="slide-right" id="slide-right">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="#7b8191"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                    >
                        <path
                                d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                        ></path>
                    </svg>
                </div>
            </nav>
            <!-- End::nav -->
        </div>
        <!-- End::main-sidebar -->
        </aside>
        <!-- End::app-sidebar -->

        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid">
                <!-- Page Header -->
                <div
                        class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb"
                >
                    <h1 class="page-title fw-semibold fs-18 mb-0">Analytics</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Analytics
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Page Header Close -->

                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="card custom-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 pe-0">
                                        <p class="mb-2">
                                            <span class="fs-16">Total Customers</span>
                                        </p>
                                        <p class="mb-2 fs-12">
                        <span
                                class="fs-25 fw-semibold lh-1 vertical-bottom mb-0"
                        >153</span
                        >
                                        </p>
                                    </div>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="card custom-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 pe-0">
                                        <p class="mb-2">
                                            <span class="fs-16">Total Products</span>
                                        </p>
                                        <p class="mb-2 fs-12">
                        <span
                                class="fs-25 fw-semibold lh-1 vertical-bottom mb-0"
                        >2500</span
                        >
                                        </p>
                                    </div>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="card custom-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 pe-0">
                                        <p class="mb-2">
                                            <span class="fs-16">Total Vendors</span>
                                        </p>
                                        <p class="mb-2 fs-12">
                        <span
                                class="fs-25 fw-semibold lh-1 vertical-bottom mb-0"
                        >{{ company_count }}</span
                        >
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="main-card-icon mb-0"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</div>

<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
</div>
<div id="responsive-overlay"></div>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

<!-- Defaultmenu JS -->
<script src="{% static '/assets/js/defaultmenu.min.js' %}"></script>

<!-- Node Waves JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js"></script>

<!-- Sticky JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.3.0/sticky.min.js"></script>

<!-- Simplebar JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.js"></script>

<!-- Color Picker JS -->
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.9.0/dist/pickr.min.js"></script>

<!-- Apex Charts JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.48.0/apexcharts.min.js"></script>

<!-- JSVector Maps JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsvectormap/1.5.3/js/jsvectormap.min.js"></script>

<!-- JSVector Maps MapsJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsvectormap/1.5.3/maps/world-merc.js"></script>

<!-- Date & Time Picker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>

<!-- Sales-Dashboard JS -->
<script src="{% static '/assets/js/sales-dashboard.js' %}"></script>

<!-- Custom-Switcher JS -->
<script src="{% static '/assets/js/custom-switcher.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static '/assets/js/custom.js' %}"></script>
</body>

</html>