{% load static %}
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light"
  data-menu-styles="dark" data-toggled="close">
<!-- Meta Data -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Citisoft - Financial Software Inventory</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static '/assets/images/brand-logos/favicon.ico' %}" type="image/x-icon" />

  <!-- Choices JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/choices.js/10.2.0/choices.min.js"></script>

  <!-- Main Theme Js -->
  <script src="{% static '/assets/js/main.js' %}"></script>

  <!-- Bootstrap Css -->
  <link id="style" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
    rel="stylesheet" />

  <!-- Style Css -->
  <link href="{% static '/assets/css/styles.min.css' %}" rel="stylesheet" />

  <!-- Icons Css -->
  <link href="{% static '/assets/css/icons.css' %}" rel="stylesheet" />

  <!-- Node Waves Css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css" rel="stylesheet" />

  <!-- Simplebar Css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.min.css" rel="stylesheet" />

  <!-- Color Picker Css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.9.0/dist/themes/nano.min.css" />

  <!-- Choices Css -->
  <link rel="stylesheet" href="{% static '/assets/libs/choices.js/public/assets/styles/choices.min.css' %}" />
</head>

<body>
  <div class="page">
    <!-- app-header -->
    <header class="app-header">
      <!-- Start::main-header-container -->
      <div class="main-header-container container-fluid">
        <!-- Start::header-content-left -->
        <div class="header-content-left">
          <!-- Start::header-element -->
          <div class="header-element">
            <div class="horizontal-logo">
              <a href="dashboard" class="header-logo">
                <img src="{% static '/assets/images/brand-logos/desktop-logo.png' %}" alt="logo" class="desktop-logo" />
                <img src="{% static '/assets/images/brand-logos/toggle-logo.png' %}" alt="logo" class="toggle-logo" />
                <img src="{% static '/assets/images/brand-logos/desktop-dark.png' %}" alt="logo" class="desktop-dark" />
                <img src="{% static '/assets/images/brand-logos/toggle-dark.png' %}" alt="logo" class="toggle-dark" />
              </a>
            </div>
          </div>
          <!-- End::header-element -->

          <!-- Start::header-element -->
          <div class="header-element">
            <!-- Start::header-link -->
            <a aria-label="Hide Sidebar"
              class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
              data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
            <!-- End::header-link -->
          </div>
          <!-- End::header-element -->
        </div>
        <!-- End::header-content-left -->

        <!-- Start::header-content-right -->
        <div class="header-content-right">
          <!-- Start::header-element -->

          <!-- End::header-element -->

          <!-- Start::header-element -->
          <div class="header-element">
            <!-- Start::header-link|dropdown-toggle -->
            <a href="#" class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" aria-expanded="false">
              <div class="d-flex align-items-center">
                <div class="me-sm-2 me-0">
                  <img src="{% static '/assets/images/ecommerce/png/9.png' %}" alt="img" width="32" height="32"
                    class="rounded-circle" />
                </div>
                <div class="d-sm-block d-none">
                  <p class="fw-semibold mb-0 lh-1">Hello {{ request.user }}</p>
                  <span class="op-7 fw-normal d-block fs-11">Administrator</span>
                </div>
              </div>
            </a>
            <!-- End::header-link|dropdown-toggle -->
            <ul
              class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end"
              aria-labelledby="mainHeaderProfile">
              <li>
                <a class="dropdown-item d-flex" href="profile"><i
                    class="ti ti-user-circle fs-18 me-2 op-7"></i>Profile</a>
              </li>

              <li>
                <a class="dropdown-item d-flex" href="sign-in-cover"><i class="ti ti-logout fs-18 me-2 op-7"></i>Log
                  Out</a>
              </li>
            </ul>
          </div>
          <!-- End::header-element -->
        </div>
        <!-- End::header-content-right -->
      </div>
      <!-- End::main-header-container -->
    </header>
    <!-- /app-header -->
    <!-- Start::app-sidebar -->
    <aside class="app-sidebar sticky" id="sidebar">
      <!-- Start::main-sidebar-header -->
      <div class="main-sidebar-header">
        <a href="dashboard" class="header-logo">
            <img src="{% static '/assets/images/brand-logos/desktop-logo.png' %}" alt="logo" class="desktop-logo"/>
            <img src="{% static '/assets/images/brand-logos/toggle-logo.png' %}" alt="logo" class="toggle-logo"/>
            <img src="{% static '/assets/images/brand-logos/desktop-dark.png' %}" alt="logo" class="desktop-dark"/>
            <img src="{% static '/assets/images/brand-logos/toggle-dark.png' %}" alt="logo" class="toggle-dark"/>
        </a>
        <div>
            <h3 class="side-menu__label">Admin</h3>
        </div>
    </div>
      <!-- End::main-sidebar-header -->

      <!-- Start::main-sidebar -->
      <div class="main-sidebar" id="sidebar-scroll">
        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
          <div class="slide-left" id="slide-left">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
              <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
            </svg>
          </div>
          <ul class="main-menu">
            <!-- Start::slide__category -->
            <li class="slide__category">
              <span class="category-name">Main</span>
            </li>
            <!-- End::slide__category -->
            <!-- Start::slide -->
            <li class="slide">
              <a href="../../dashboard" class="side-menu__item">
                <i class="bx bx-home side-menu__icon"></i>
                <span class="side-menu__label">Dashboard</span>
              </a>
            </li>
            <!-- End::slide -->
            <!-- Start::slide -->
            <li class="slide has-sub active open">
              <a href="javascript:void(0);" class="side-menu__item">
                <i class="bx bx-store-alt side-menu__icon"></i>
                <span class="side-menu__label active">Product Management </span>
                <i class="fe fe-chevron-right ri-arrow-down-s-line"></i>
              </a>
              <ul class="slide-menu child1">
                <li class="slide side-menu__label1">
                  <a href="javascript:void(0)"></a>
                </li>
                <li class="slide">
                  <a href="../../review_product" class="side-menu__item">Review Product</a>
                </li>
                <li class="slide">
                  <a href="../../view_product" class="side-menu__item active">View Products</a>
                </li>

                <li class="slide has-sub">
                  <a href="javascript:void(0);" class="side-menu__item">Product Categories
                    <i class="fe fe-chevron-right ri-arrow-down-s-line"></i></a>
                  <ul class="slide-menu child2">
                    <li class="slide">
                      <a href="../../add_category" class="side-menu__item">Add Category</a>
                    </li>
                    <li class="slide">
                      <a href="../../view_category" class="side-menu__item">View Category</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <!-- End::slide -->
              <!-- Start::slide -->
            </li>
            <li class="slide has-sub">
              <a href="javascript:void(0);" class="side-menu__item">
                <i class="bx bx-cart side-menu__icon"></i>
                <span class="side-menu__label">User Management </span>
                <i class="fe fe-chevron-right ri-arrow-down-s-line"></i>
              </a>
              <ul class="slide-menu child1">
                <li class="slide side-menu__label1">
                  <a href="javascript:void(0)">Review Vendor Regis.</a>
                </li>
                <li class="slide">
                  <a href="../../view_vendors" class="side-menu__item">View Vendor</a>
                </li>
                <li class="slide">
                  <a href="#" class="side-menu__item">View Customers</a>
              </li>
              </ul>
            </li>
            <!-- End::slide -->
          </ul>
          <div class="slide-right" id="slide-right">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
            </svg>
          </div>
        </nav>
        <!-- End::nav -->
      </div>
      <!-- End::main-sidebar -->
    </aside>
    <!-- End::app-sidebar -->
    {% block content %}
    <!-- Start::app-content -->

    <div class="main-content app-content">
      <div class="container-fluid">
        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
          <h1 class="page-title fw-semibold fs-18 mb-0">View Product</h1>
          <div class="ms-md-1 ms-0">
            <nav>
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a href="#">Product Management</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="../../view_product">View Product</a>
                </li>


                <li class="breadcrumb-item active" aria-current="page">
                  {{product.name}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- Page Header Close -->
        <div class="row">
          <div class="col-xl-12">
            <div class="card custom-card">

              <div class="card-body">
                <div class="card-header">




                  <div class="col-md-9">
                    <div class="row mb-9">

                      <div class="card-title">Products Details</div>
                    </div>
                  </div>
                </div>
                <div class="row gx-5">
                  <div class="col-xxl-2 col-xl-12">
                    <div class="row">

                      <div class="col-xxl-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-md-5 mb-3 mt-3">
<center>
                            <div id="img-container">
                              <img class="img-fluid" src="{{ product.logo.url }}" alt="img" />
                            </div>
</center>

                        </div>

                    </div>
                  </div>
                  <div class="col-xxl-9 col-xl-12">
                    <div class="row gx-5">
                      <div class="col-xl-8 mt-xxl-0 mt-3">
                        <div>
                          <br>
                          <p class="fs-26 fw-semibold mb-0">
                            {{ product.name }}
                          </p>



                          <div class="mb-4">
                            <p class="fs-15 fw-semibold mb-1">
                              Description :
                            </p>
                            <p class="text-muted mb-0">
                              {{ product.description }}
                            </p>
                          </div>


                          <div class="mb-4">
                            <p class="fs-15 fw-semibold mb-2">
                              Product Details :
                            </p>
                            <div class="row">
                              <div class="col-xl-10">
                                <div class="table-responsive">
                                  <table class="table table-bordered text-nowrap">
                                    <tbody>
                                      <tr>
                                        <th scope="row" class="fw-semibold">
                                          Product Name
                                        </th>
                                        <td>{{ product.name }}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row" class="fw-semibold">
                                          Product Category
                                        </th>
                                        <td>
                                          {% for category in product.categories.all %}
                                          {{ category.category_name }}
                                          {% if not forloop.last %}, {% endif %}
                                          {% endfor %}
                                        </td>
                                      </tr>
                                      <tr>
                                        <th scope="row" class="fw-semibold">
                                          Company
                                        </th>
                                        <td>{{ product.company.name }}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row" class="fw-semibold">
                                          Company Website
                                        </th>
                                        <td> {% if product.company.website %}
                                          <a href="{{ product.company.website }}" target="_blank">
                                            {{product.company.website}}</a>
                                          {% else %}
                                          <p>No website available</p>
                                          {% endif %}
                                        </td>
                                      </tr>

                                      <tr>
                                        <th scope="row" class="fw-semibold">
                                          Cloud Type
                                        </th>
                                        <td>{{product.cloud_type}}</td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mb-4">
                            <div class="row">
                              <div class="col-xl-6">
                                <p class="fs-15 fw-semibold mb-2">Features :</p>
                                {% if business_areas %}
                                <ul class="mb-0">
                                  {% for area in business_areas %}
                                  <li class="text-muted mb-2">{{ area.strip }}</li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                              </div>
                              <div class="col-xl-6">
                                <p class="fs-15 fw-semibold mb-2">Client Type :</p>
                                {% if financial_services_client_types %}
                                <ul class="mb-0">
                                  {% for type in financial_services_client_types %}
                                  <li class="text-muted mb-2">{{ type.strip }}</li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                              </div>
                            </div>
                          </div>



                          <div class="row">

                          </div>


                        </div>
                      </div>
                      <div class="col-xl-4 mt-xxl-0 mt-3">
                        <div class="mb-5">
                          <br>
                          <div class="d-grid">
                            <a href="" class="btn btn-primary mb-2">View Demo</a>
                            <a href="" class="btn btn-secondary mb-2">View PDF Files</a>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
        <!--End::row-1 -->
        <!--End::row-1 -->
      </div>
    </div>
  </div>
  <!-- End::app-content -->

  <!-- Footer Start -->
  <footer class="footer mt-auto py-3 bg-white text-center">
    <div class="container">
      <span class="text-muted">
        Copyright © <span id="year"></span>
        <a href="javascript:void(0);" class="text-dark fw-semibold">Citisodt</a>. Designed with
        <span class="bi bi-heart-fill text-danger"></span> by
        <a href="javascript:void(0);">
          <span class="fw-semibold text-primary text-decoration-underline">Citisoft</span>
        </a>
        All rights reserved
      </span>
    </div>
  </footer>
  <!-- Footer End -->
  </div>

  <div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
  </div>
  <div id="responsive-overlay"></div>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

  <!-- Defaultmenu JS -->
  <script src="{% static '/assets/js/defaultmenu.min.js' %}"></script>

  <!-- Node Waves JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js"></script>

  <!-- Sticky JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.3.0/sticky.min.js"></script>

  <!-- Simplebar JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.js"></script>

  <!-- Color Picker JS -->
  <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.9.0/dist/pickr.min.js"></script>

  <!-- Apex Charts JS -->
  <script src="{% static '/assets/libs/apexcharts/apexcharts.min.js' %}"></script>

  <!-- JSVector Maps JS -->
  <script src="{% static '/assets/libs/jsvectormap/js/jsvectormap.min.js' %}"></script>

  <!-- JSVector Maps MapsJS -->
  <script src="{% static '/assets/libs/jsvectormap/maps/world-merc.js' %}"></script>

  <!-- Date & Time Picker JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>

  <!-- Sales-Dashboard JS -->
  <script src="{% static '/assets/js/sales-dashboard.js' %}"></script>

  <!-- Custom-Switcher JS -->
  <script src="{% static '/assets/js/custom-switcher.min.js' %}"></script>

  <!-- Custom JS -->
  <script src="{% static '/assets/js/custom.js' %}"></script>
</body>

</html>