{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light"
      data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Citisoft - Financial Software Inventory
    </title>

    <!-- Favicon -->
    <link rel="icon" href=" {% static 'main_app/../assets/images/brand-logos/favicon.ico' %} " type="image/x-icon">

    <!-- Main Theme Js -->
    <script src=" {% static 'main_app/../assets/js/authentication-main.js' %} "></script>

    <!-- Bootstrap Css -->
    <link id="style" href=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Style Css -->
    <link href=" {% static 'main_app/../assets/css/styles.min.css' %} " rel="stylesheet">

    <!-- Icons Css -->
    <link href=" {% static 'main_app/../assets/css/icons.min.css' %} " rel="stylesheet">


</head>

<body>
<div class="container-lg">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="my-5 d-flex justify-content-center">
                <a href=" index" \>
                    <img src=" {% static 'main_app/../assets/images/brand-logos/desktop-logo.png' %} " alt="logo"
                         class="desktop-logo">
                    <img src=" {% static 'main_app/../assets/images/brand-logos/desktop-dark.png' %} " alt="logo"
                         class="desktop-dark">
                </a>
            </div>
            <div class="card custom-card">
                <div class="card-body p-5">
                    <p class="h5 fw-semibold mb-2 text-center">Sign Up</p>
                    <div class="row gy-3">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="col-xl-12 input-group my-2">
                                <input type="text" name="username" class="form-control form-control-lg"
                                       placeholder="username">
                            </div>
                            <div class="col-xl-12 input-group my-2">
                                <input type="text" name="first_name" class="form-control form-control-lg"
                                       placeholder="first name">
                            </div>
                            <div class="col-xl-12 input-group my-2">
                                <input type="text" name="last_name" class="form-control form-control-lg"
                                       placeholder="last name">
                            </div>
                            <div class="col-xl-12 input-group my-2">
                                <input type="email" name="email" class="form-control"
                                       placeholder="email">
                            </div>
                            <div class="col-xl-12 input-group my-2">
                                <input type="password" name="password1" class="form-control form-control-lg"
                                       placeholder="password">
                            </div>
                            <div class="col-xl-12 mb-2 input-group my-2">
                                <input type="password" name="password2" class="form-control form-control-lg"
                                       placeholder="confirm password">
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <input class="btn btn-lg btn-primary" type="submit" value="Create Account"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <p class="fs-12 text-muted mt-3">Already have an account? <a href=" login" class="text-primary">Sign
                        In</a></p>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<script src=" {% static 'web_app/static/assets/js/custom-switcher.min.js' %} "></script>

<script src=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js "></script>

<script src=" {% static 'web_app/static/assets/js/show-password.js' %} "></script>

</body>

</html>