{% load static %}
<html
  lang="en"
  dir="ltr"
  data-nav-layout="horizontal"
  data-nav-style="menu-click"
  data-menu-position="fixed"
  data-theme-mode="light"
>
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Citisoft</title>

    <!-- Favicon -->
    <link
      rel="icon"
      href="{% static '/assets/images/brand-logos/favicon.ico' %}"
      type="image/x-icon"
    />

    <!-- Bootstrap Css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Style Css -->
    <link href="{% static '/assets/css/styles.css' %}" rel="stylesheet" />

    <!-- Icons Css -->
    <link href="{% static '/assets/css/icons.css' %}" rel="stylesheet" />

    <!-- Node Waves Css -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css"
      rel="stylesheet"
    />

    <!-- SwiperJS Css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    />

    <!-- Color Picker Css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.9.0/dist/themes/nano.min.css"
    />

    <!-- Choices Css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/choices.js/10.2.0/choices.min.css"
    />
  </head>

  <body class="landing-body">
    <div class="landing-page-wrapper">
      <!-- app-header -->
      <header class="app-header">
        <!-- Start::main-header-container -->
        <div class="main-header-container container-fluid">
          <!-- Start::header-content-left -->
          <div class="header-content-left">
            <!-- Start::header-element -->
            <div class="header-element">
              <div class="horizontal-logo">
                <a href="index.html" class="header-logo">
                  <img
                    src="{% static '/assets/images/brand-logos/toggle-logo.png' %}"
                    alt="logo"
                    class="toggle-logo"
                  />
                  <img
                    src="{% static '/assets/images/brand-logos/toggle-dark.png' %}"
                    alt="logo"
                    class="toggle-dark"
                  />
                </a>
              </div>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element">
              <!-- Start::header-link -->
              <a
                href="javascript:void(0);"
                class="sidemenu-toggle header-link"
                data-bs-toggle="sidebar"
              >
                <span class="open-toggle">
                  <i class="ri-menu-3-line fs-20"></i>
                </span>
              </a>
              <!-- End::header-link -->
            </div>
            <!-- End::header-element -->
          </div>
          <!-- End::header-content-left -->

          <!-- Start::header-content-right -->
          <div class="header-content-right">
            <!-- Start::header-element -->
            <div class="header-element align-items-center">
              <!-- Start::header-link|switcher-icon -->
              <div class="btn-list d-lg-none d-block">
                <a href="login.html" class="btn btn-primary-light"> Login </a>
              </div>
              <!-- End::header-link|switcher-icon -->
            </div>
            <!-- End::header-element -->
          </div>
          <!-- End::header-content-right -->
        </div>
        <!-- End::main-header-container -->
      </header>
      <!-- /app-header -->

      <!-- Start::app-sidebar -->
      <aside class="app-sidebar sticky" id="sidebar">
        <div class="container p-0">
          <!-- Start::main-sidebar -->
          <div class="main-sidebar">
            <!-- Start::nav -->
            <nav class="main-menu-container nav nav-pills sub-open">
              <div class="landing-logo-container">
                <div class="horizontal-logo">
                  <a href="index.html" class="header-logo">
                    <img
                      src="{% static '/assets/images/brand-logos/desktop-logo.png' %}"
                      alt="logo"
                      class="desktop-logo"
                    />
                    <img
                      src="{% static '/assets/images/brand-logos/desktop-white.png' %}"
                      alt="logo"
                      class="desktop-white"
                    />
                  </a>
                </div>
              </div>
              <div class="slide-left" id="slide-left">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="#7b8191"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                  ></path>
                </svg>
              </div>
              <ul class="main-menu">
                <!-- Start::slide -->
                <li class="slide">
                  <a class="side-menu__item" href="index.html">
                    <span class="side-menu__label">Home</span>
                  </a>
                </li>
                <!-- End::slide -->
                <!-- Start::slide -->
                <li class="slide">
                  <a href="productlisting.html" class="side-menu__item">
                    <span class="side-menu__label">Product Search</span>
                  </a>
                </li>
                <!-- End::slide -->
              </ul>
              <div class="slide-right" id="slide-right">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="#7b8191"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                  ></path>
                </svg>
              </div>
              <div class="d-lg-flex d-none">
                <div class="btn-list d-lg-flex d-none mt-lg-2 mt-xl-0 mt-0">
                  <a href="login.html" class="btn btn-wave btn-primary">
                    Login
                  </a>
                </div>
              </div>
            </nav>
            <!-- End::nav -->
          </div>
          <!-- End::main-sidebar -->
        </div>
      </aside>
      <!-- End::app-sidebar -->

      <!-- Start::app-content -->
      <div class="main-content landing-main">
        <!-- Start:: Section-1 -->
        <div class="landing-banner" style="height: 40vh !important; " id="home">
          <section class="section">
            <div class="container main-banner-container">
              <div class="row">
                <div class="col-xxl-12 col-xl-7 col-lg-7 col-md-8">
                  <div class="py-lg-3">
                    <div class="mb-1">
                      <h5 class="fs-25 fw-semibold text-fixed-white op-9">
                        About Me!
                      </h5>
                    </div>
                    <p class="fs-13 mb-5 text-fixed-white op-9">
                      Home / <span class="text-secondary">User Profile</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- End:: Section-1 -->
        <div class="main-content app-content">
          <div class="container-fluid">
            <!-- Start::row-1 -->
            <div class="row">
              <div class="col-xxl-4 col-xl-12">
                  <div class="card custom-card overflow-hidden">
                      <div class="card-body p-0">
                          <div class="d-sm-flex align-items-top p-4 border-bottom border-block-end-dashed main-profile-cover">
                              <div>
                                  <span class="avatar avatar-xxl avatar-rounded online me-3">
                                      <img src="../assets/images/faces/9.jpg" alt="">
                                  </span>
                              </div>
                              <div class="flex-fill main-profile-info">
                                  <div class="d-flex align-items-center justify-content-between">
                                      <h6 class="fw-semibold mb-1 text-fixed-white">{{customers.name}}</h6>
                                      
                                  </div>
                                  <p class="mb-1 text-muted text-fixed-white op-7">Chief Executive Officer (C.E.O)</p>
                                  <p class="fs-12 text-fixed-white mb-4 op-5">  
                                      <span class="me-3"><i class="ri-building-line me-1 align-middle"></i>Georgia</span> 
                                      <span><i class="ri-map-pin-line me-1 align-middle"></i>Washington D.C</span> 
                                  </p>
                                  
                                </div>
                          </div>
                          <div class="p-4 border-bottom border-block-end-dashed">
                              <div class="mb-4">
                                  <p class="fs-15 mb-2 fw-semibold">Professional Bio :</p>
                                  <p class="fs-12 text-muted op-7 mb-0">
                                      I am <b class="text-default">Sonya Taylor,</b> here by conclude that,i am the founder and managing director of the prestigeous company name laugh at all and acts as the cheif executieve officer of the company.
                                  </p>
                              </div>   
                              <div class="mb-0">
                                  <p class="fs-15 mb-2 fw-semibold">Website :</p>
                                  <div class="mb-0">
                                      <p class="mb-1">
                                          <a href="javascript:void(0)" class="text-primary"><u>https://www.spruko.com/</u></a>
                                      </p>
                                      <p class="mb-0">
                                          <a href="javascript:void(0)" class="text-primary"><u>https://themeforest.net/user/spruko/portfolio</u></a>
                                      </p>
                                  </div>
                              </div>
                          </div>  
                          <div class="p-4 border-bottom border-block-end-dashed">
                              <p class="fs-15 mb-2 me-4 fw-semibold">Personal Information :</p>
                              <div class="text-muted">
                                  <p class="mb-2">
                                      <span class="avatar avatar-sm avatar-rounded me-2 bg-light text-muted">
                                          <i class="ri-mail-line align-middle fs-14"></i>
                                      </span>
                                      sonyataylor2531@gmail.com
                                  </p>
                                  <p class="mb-2">
                                      <span class="avatar avatar-sm avatar-rounded me-2 bg-light text-muted">
                                          <i class="ri-phone-line align-middle fs-14"></i>
                                      </span>
                                      +(555) 555-1234
                                  </p>
                                  
                              </div>
                          </div>
                          <div class="p-4 border-bottom border-block-end-dashed">
                            <p class="fs-15 mb-2 me-4 fw-semibold">Business Email :</p>
                            <div class="text-muted">
                                <p class="mb-2">
                                    <span class="avatar avatar-sm avatar-rounded me-2 bg-light text-muted">
                                        <i class="ri-mail-line align-middle fs-14"></i>
                                    </span>
                                    sonyataylor2531@gmail.com
                                </p>
                                
                                
                              </div>
                              
                        </div>
                        
                          
                          
                          
                      </div>
                      

                      
                  </div>
                  
                  <div class="col-xl-12">
                    <div class="text-center mt-4">
                          <button class="btn btn-primary-light btn-wave" onclick="window.location.href = 'http://127.0.0.1:8000/profilepage';" >Edit Profile</button>
                    </div>
                  </div>

              </div>
              
              <div class="col-xxl-8 col-xl-12">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="card custom-card">
                              <div class="card-body p-0">
                                  <div class="p-3 border-bottom border-block-end-dashed d-flex align-items-center justify-content-between">
                                      <div>
                                          <ul class="nav nav-tabs mb-0 tab-style-6 justify-content-start" id="myTab" role="tablist">
                                              <li class="nav-item" role="presentation">
                                                  <button class="nav-link active" id="activity-tab" data-bs-toggle="tab"
                                                      data-bs-target="#activity-tab-pane" type="button" role="tab"
                                                      aria-controls="activity-tab-pane" aria-selected="true"><i
                                                          class="ri-gift-line me-1 align-middle d-inline-block"></i>Wishlist</button>
                                              </li>
                                              <li class="nav-item" role="presentation">
                                                  <button class="nav-link" id="posts-tab" data-bs-toggle="tab"
                                                      data-bs-target="#posts-tab-pane" type="button" role="tab"
                                                      aria-controls="posts-tab-pane" aria-selected="false"><i
                                                          class="ri-bill-line me-1 align-middle d-inline-block"></i>Posts</button>
                                              </li>
                                              
                                          </ul>
                                      </div>   
                                      
                                  </div>
                                  <div class="p-3">
                                      <div class="tab-content" id="myTabContent">
                                          <div class="tab-pane fade p-0 border-0" id="activity-tab-pane"
                                              role="tabpanel" aria-labelledby="activity-tab" tabindex="0">
                                              <div class="row">
                                                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                    <div class="card custom-card shadow-none border">
                                                        <div class="card-body p-4">
                                                            <div class="text-center">
                                                                <span class="avatar avatar-xl avatar-rounded">
                                                                    <img src="../assets/images/faces/2.jpg" alt="">
                                                                </span>
                                                                <div class="mt-2">
                                                                    <p class="mb-0 fw-semibold">software name</p>
                                                                    <p class="fs-12 op-7 mb-1 text-muted">email</p>
                                                                    <span class="badge bg-info-transparent rounded-pill">category</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer text-center">
                                                            <div class="btn-list">
                                                                <button class="btn btn-sm btn-light btn-wave">Remove</button>
                                                                <button class="btn btn-sm btn-primary btn-wave">View</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                  <div class="text-center mt-4">
                                                      <button class="btn btn-primary-light btn-wave">Show All</button>
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                          
                                          <div class="tab-pane fade p-0 border-0" id="posts-tab-pane"
                                              role="tabpanel" aria-labelledby="posts-tab" tabindex="0">
                                              <ul class="list-group">
                                                  <li class="list-group-item">
                                                      <div class="d-flex align-items-center lh-1">
                                                          <div class="me-3">
                                                              <span class="avatar avatar-md avatar-rounded">
                                                                  <img src="../assets/images/faces/9.jpg" alt="">
                                                              </span>
                                                          </div>  
                                                          <div class="flex-fill me-2">
                                                              <div class="input-group">
                                                                  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
                                                                  <button class="btn btn-light btn-wave" type="button"><i class="bi bi-emoji-smile"></i></button>
                                                                  <button class="btn btn-light btn-wave" type="button"><i class="bi bi-paperclip"></i></button>
                                                                  <button class="btn btn-light btn-wave" type="button"><i class="bi bi-camera"></i></button>
                                                                  <button class="btn btn-primary btn-wave" type="button">Post</button>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </li>
                                                  <li class="list-group-item" id="profile-posts-scroll">
                                                      <div class="row gy-3">
                                                          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                              <div class="rounded border">
                                                                  <div class="p-3 d-flex align-items-top flex-wrap">
                                                                      <div class="me-2">
                                                                          <span class="avatar avatar-sm avatar-rounded">
                                                                              <img src="../assets/images/faces/9.jpg" alt="">
                                                                          </span>
                                                                      </div>
                                                                      <div class="flex-fill">
                                                                          <p class="mb-1 fw-semibold lh-1">You</p>
                                                                          <p class="fs-11 mb-2 text-muted">24, Dec - 04:32PM</p>
                                                                          <p class="fs-12 text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                                           <p class="fs-12 text-muted mb-3">As opposed to using 'Content here 👌</p>
                                                                           <div class="d-flex align-items-center justify-content-between mb-md-0 mb-2">
                                                                              <div>
                                                                                  <div class="btn-list">
                                                                                      <button class="btn btn-primary-light btn-sm btn-wave">
                                                                                          Comment
                                                                                      </button>
                                                                                      <button class="btn btn-icon btn-sm btn-success-light btn-wave">
                                                                                          <i class="ri-thumb-up-line"></i>
                                                                                      </button>
                                                                                      <button class="btn btn-icon btn-sm btn-danger-light btn-wave">
                                                                                          <i class="ri-share-line"></i>
                                                                                      </button>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                      <div class="d-flex align-items-top">
                                                                          
                                                          
                                                                      </div>
                                                                  </div>  
                                                              </div>  
                                                          </div>
                                                      </div>
                                                  </li>
                                                          
                                                          
                                                         
                                                          
                                                  </li>
                                                  <li class="list-group-item">
                                                      <div class="text-center">
                                                          <button class="btn btn-primary-light btn-wave">Show All</button>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                          
                                              
                                                  
                                                  
                                            
                                          </div>
                                          
                                      </div>    
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                      
                          
                       
                      
                  </div>
              </div>
          </div>
          <!--End::row-1 -->




</div>
             
        <!-- End::app-content -->

        <!-- Start:: Section-11 -->
        <section class="section landing-footer text-fixed-white">
          <div class="container">
            <div class="row">
              <div class="col-xl-3"></div>
              <div class="col-xl-4">
                <div class="px-4">
                  <p class="fw-semibold mb-3">
                    <a href="index.html"
                      ><img
                        src="{% static '/assets/images/brand-logos/desktop-dark.png' %}"
                        alt=""
                    /></a>
                  </p>
                  <p class="mb-2 op-6 fw-normal">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Reprehenderit et magnam, fuga est mollitia eius, quo illum
                    illo inventore optio aut quas omnis rem. Dolores accusantium
                    aspernatur minus ea incidunt.
                  </p>
                  <p class="mb-0 op-6 fw-normal">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Autem ea esse ad
                  </p>
                </div>
              </div>

              <div class="col-xl-4">
                <div class="px-4">
                  <h6 class="fw-semibold">CONTACT</h6>
                  <ul class="list-unstyled fw-normal landing-footer-list">
                    <li>
                      <a
                        href="javascript:void(0);"
                        class="text-fixed-white op-6"
                        ><i class="ri-home-4-line me-1 align-middle"></i> ARU Cambridge CB1 1PT</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:void(0);"
                        class="text-fixed-white op-6"
                        ><i class="ri-mail-line me-1 align-middle"></i>
                        info@citisoft.com</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:void(0);"
                        class="text-fixed-white op-6"
                        ><i class="ri-phone-line me-1 align-middle"></i>
                        +44-1234567890</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:void(0);"
                        class="text-fixed-white op-6"
                        ><i class="ri-printer-line me-1 align-middle"></i>
                        +(123) 1293 123</a
                      >
                    </li>
                    <li class="mt-3">
                      <p class="mb-2 fw-semibold op-8">FOLLOW US ON :</p>
                      <div class="mb-0">
                        <div class="btn-list">
                          <button
                            class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light"
                          >
                            <i class="ri-facebook-line fw-bold"></i>
                          </button>
                          <button
                            class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light"
                          >
                            <i class="ri-twitter-line fw-bold"></i>
                          </button>
                          <button
                            class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light"
                          >
                            <i class="ri-instagram-line fw-bold"></i>
                          </button>
                          <button
                            class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light"
                          >
                            <i class="ri-github-line fw-bold"></i>
                          </button>
                          <button
                            class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light"
                          >
                            <i class="ri-youtube-line fw-bold"></i>
                          </button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End:: Section-11 -->

        <div class="text-center landing-main-footer py-3">
          <span class="text-muted fs-15">
            Copyright © <span id="year"></span>
            <a href="javascript:void(0);" class="text-primary fw-semibold"
              ><u>Citisoft</u></a
            >. Designed with <span class="fa fa-heart text-danger"></span> by
            <a href="javascript:void(0);" class="text-primary fw-semibold"
              ><u> Citisoft</u>
            </a>
            All rights reserved
          </span>
        </div>
      </div>
      <!-- End::app-content -->
    </div>

    <div class="scrollToTop">
      <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>
    <div id="responsive-overlay"></div>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <!-- Defaultmenu JS -->
    <script src="{% static '/assets/js/defaultmenu.min.js' %}"></script>
    <!-- Node Waves JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js"></script>
    <!-- Sticky JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.3.0/sticky.min.js"></script>
    <!-- Simplebar JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.js"></script>
    <!-- Color Picker JS -->
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.9.0/dist/pickr.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

    <!-- Defaultmenu JS -->
    <script src="{% static '/assets/js/defaultmenu.min.js' %}"></script>
    <!-- Sticky JS -->
    <script src="{% static '/assets/js/sticky.js' %}"></script>
    <!-- Internal Landing JS -->
    <script src="{% static '/assets/js/landing.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function() {
  $('#show-more-categories').click(function() {
    $('#hidden-categories').show();
    $(this).hide();
    $('#show-less-categories').removeClass('d-none'); // Show "Show Less" button
  });

  $('#show-less-categories').click(function() {
    $('#hidden-categories').hide();
    $(this).addClass('d-none'); // Hide "Show Less" button
    $('#show-more-categories').show();
  });
});
      </script>
  </body>
</html>
