{% load static %}
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
    
            <meta name="description" content="">
            <meta name="author" content="">
    
            <title>Profile Page</title>
    
            <!-- CSS FILES -->        
            <link rel="preconnect" href="https://fonts.googleapis.com" />
    
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&amp;family=Open+Sans&amp;display=swap"
          rel="stylesheet"
        />
    
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    
        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" />
    
        <link href="{% static 'css/homepage.css' %}" rel="stylesheet" />
    
        </head>
        
        <body class="topics-listing-page" id="top">
    
            <main>
    
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                      <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                      </div>
            
                      <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                      >
                        <span class="navbar-toggler-icon"></span>
                      </button>
            
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                          <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_1"
                              >Home</a
                            >
                          </li>
            
                          <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_2"
                              >Browse Topics</a
                            >
                          </li>
            
                          <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_3"
                              >Contact</a
                            >
                          </li>
                        </ul>
            
                        <div class="d-none d-lg-block">
                          <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                      </div>
                    </div>
                  </nav>
    
    
                <header class="site-header d-flex flex-column justify-content-center align-items-center">
                    <div class="container">
                        <div class="row align-items-center">
    
                            <div class="col-lg-5 col-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>
    
                                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                                    </ol>
                                </nav>
    
                                <h2 class="text-white">About Me</h2>
                            </div>
    
                        </div>
                    </div>
                </header>

                <section class="sptb">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body pattern-1">
                                        <div class="wideget-user">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="wideget-user-desc text-center">
                                                        <div class="wideget-user-img">
                                                            <img class="brround" src="../assets/images/users/male/7.jpg"
                                                                alt="User Image">
                                                        </div>
                                                        <div class="user-wrap wideget-user-info">
                                                            <a href="javascript:void(0);" class="text-white">
                                                                <h4 class="font-weight-semibold">Robert McLean</h4>
                                                            </a>
                                                            <div class="wideget-user-rating">
                                                                <a href="javascript:void(0);"><i
                                                                        class="fa fa-star text-warning"></i></a>
                                                                <a href="javascript:void(0);"><i
                                                                        class="fa fa-star text-warning"></i></a>
                                                                <a href="javascript:void(0);"><i
                                                                        class="fa fa-star text-warning"></i></a>
                                                                <a href="javascript:void(0);"><i
                                                                        class="fa fa-star text-warning"></i></a>
                                                                <a href="javascript:void(0);"><i
                                                                        class="fa fa-star-o text-warning me-1"></i></a>
                                                                <span class="text-white"> (53876 Reviews)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 text-center">
                                                <div class="wideget-user-info">
                                                    <div class="wideget-user-icons mt-2">
                                                        <a href="javascript:void(0);" class="facebook-bg mt-0"><i
                                                                class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);" class="twitter-bg"><i
                                                                class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);" class="google-bg"><i
                                                                class="fa fa-google"></i></a>
                                                        <a href="javascript:void(0);" class="dribbble-bg"><i
                                                                class="fa fa-dribbble"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="border-0">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-5" role="tabpanel">
                                                    <div class="profile-log-switch">
                                                        <div class="media-heading">
                                                            <h3 class="card-title mb-4 fw-semibold">Personal Details</h3>
                                                        </div>
                                                        <ul class="usertab-list mb-0">
                                                            <li><span class="font-weight-semibold">Business Name :</span> Rubin Carmody</li>
                                                            <li><span class="font-weight-semibold">Establised on :</span> USA</li>
                                                            <li><span class="font-weight-semibold">Business Type :</span> English, German, Spanish.</li>
                                                            <li><span class="font-weight-semibold">Business Link :</span>Applist.com</li>
                                                            <li><span class="font-weight-semibold">Business Email :</span> georgemestayer@Applist.com</li>
                                                            <li><span class="font-weight-semibold">Business Telephone :</span> +125 254 3562</li>
                                                            <li><span class="font-weight-semibold">Additional Information :</span>u </li>
                                                        </ul>
                                                        <div class="row profie-img">
                                                            <div class="col-md-12">
                                                                <div class="media-heading">
                                                                    <h3 class="card-title mb-4 fw-semibold">About the Business</h3>
                                                                </div>
                                                                <p>backend</p>
                                                                <p class="mb-0">backend.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-6" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">First Name</label>
                                                                <input type="text" class="form-control" placeholder="First Name">
                                                            </div>
                                                        </div>
                                                        <!-- Other form fields for editing profile -->
                                                    </div>
                                                </div>
                                                <!-- Other tab panes for My Apps, Featured Apps, Published Apps -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="border-0">
                                            <p>
                                                
                                            </p>
                                        </div>   
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    
                                  
            </main>
    
            <footer class="site-footer section-padding">
                <div class="container">
                    <div class="row">
    
                        <div class="col-lg-3 col-12 mb-4 pb-2">
                            <a class="navbar-brand mb-2" href="index.html">
                                <span>app name</span>
                            </a>
                        </div>
    
                        <div class="col-lg-3 col-md-4 col-6">
                            <h6 class="site-footer-title mb-3">Resources</h6>
    
                            <ul class="site-footer-links">
                                <li class="site-footer-link-item">
                                    <a href="#" class="site-footer-link">Home</a>
                                </li>
    
                                <li class="site-footer-link-item">
                                    <a href="#" class="site-footer-link">Browse topic</a>
                                </li>
    
                                <li class="site-footer-link-item">
                                    <a href="#" class="site-footer-link">Contact</a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                            <h6 class="site-footer-title mb-3">Information</h6>
    
                            <p class="text-white d-flex mb-1">
                                <a href="tel: 305-240-9671" class="site-footer-link">
                                    305-240-9671
                                </a>
                            </p>
    
                            <p class="text-white d-flex">
                                <a href="mailto:info@company.com" class="site-footer-link">
                                    vendorapplication@gmail.com
                                </a>
                            </p>
                        </div>
    
                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                English</button>
    
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" type="button">Thai</button></li>
    
                                    <li><button class="dropdown-item" type="button">Myanmar</button></li>
    
                                    <li><button class="dropdown-item" type="button">Arabic</button></li>
                                </ul>
                            </div>
    
                            <p class="copyright-text mt-lg-5 mt-4">Copyright © 20424 All rights reserved.
                            <br><br>
                            
                        </div>
    
                    </div>
                </div>
            </footer>
    
            <!-- JAVASCRIPT FILES -->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'js/jquery.sticky.js' %}"></script>
            <script src="{% static 'js/click-scroll.js' %}"></script>
            <script src="{% static 'js/custom.js' %}"></script>
        
        
        
        
    
        </body>
    </html>